[Unit]
Description=FactorioServer
Requires=After=networking.service       # Experimental

[Service]
WorkingDirectory=/home/factorio/server
ExecStart=/home/factorio/server/server.sh
Restart=always
# Restart service after 10 seconds if service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
# Output to syslog
StandardError=syslog
SyslogIdentifier=factorio-server
User=factorio

[Install]
WantedBy=multi-user.target
